* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0%;
    background-color: white;
    border-bottom: 2px solid #fb5b21;
    padding: 0% 8%;
    z-index: 1;
}

.logo-container {
    width: 60%;
}

.info-container {
    display: flex;
    width: 23%;
    height: 15vh;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    gap: 2%;
}

.info-container li a:hover {
    color: #fb5b21;

}

.info li.about {
    position: relative;
    padding: 9% 4% 9% 4%;
}

.sub-text {
    display: none;
    list-style: none;
    z-index: 99 !important;
    position: absolute;
    top: 100%;
    left: -30%;
    background-color: #fb5b21;
    color: white;
    width: 17vw;
    line-height: 2.7rem;
}

.info .about:hover .sub-text {
    display: block;
    position: absolute;
}

.sub-text h4 a {
    color: white;
    font-weight: 500;
}

h4 a{
    padding-left: 2.5rem;
} 

.esp-cont {
    display: inline-block;
    border-bottom: 2px solid white;
    width: 100%;
}

.esp-cont:hover {
    background-color: #c05933;
}

.esp-cont h4 a:hover {
    color: white;
}

.hcf-cont {
    display: inline-block;
    border-bottom: 2px solid white;
    width: 100%;
}

.hcf-cont:hover {
    background-color: #c05933;
    color: white;
}

.hcf-cont h4 a:hover {
    color: white;
}

.hcf-p-cont:hover {
    background-color: #c05933;
    color: white;
}

.hcf-p-cont h4 a:hover {
    color: white;
}

.search-icon-container {
    width: 2.5%;
}

.search-icon-container img {
    width: 100%;
    filter: invert(42%) sepia(100%) saturate(1000%) hue-rotate(330deg) brightness(100%) contrast(100%)
}

#hamburger1_container, #hamburger2_container {
    display: none;
    width: 4%;
}

#hamburger1_container img, #hamburger2_container img {
    width: 100%;
}

.section_1 {
    margin-top: 3.3rem;
    position: static;

}

.image_one_container {
    width: 100%;
    height: 100%;
}

.image_one_container img {
    width: 100%;
    height: 57vh;
    object-fit: cover;
}

.h1_container {
    position: absolute;
    top: 35%;
    left: 37%;
}

h1 {
    font-size: 3rem;
    color: white;
}

.h5-container {
    display: flex;
    gap: 7px;
    position: relative;
    left: 40%;
    bottom: 30px;
    padding: 17px 60px;
    background-color: #fb5b21;
    border: none;
    display: inline-block;
    border-radius: 30px;
    z-index: 0;
}

h5 a{
    display: flex;
    
    font-size: 1rem;
    color: white;
}

h5 a:hover {
    color: black;
}

h5 {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.section_2 {
    padding: 6% 8%;
}

h2 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

.md-input:focus + label, .md-input.md-hastext + label {
    color: #888888;
	top: 0%;
	font-size: 0.75em
}

.md-input-wrap {
    margin-top: 2.3rem;
    padding-top: 10px;
    position: relative;
    border-bottom: 2px solid #888888;
    width: 50%;
}

.md-input {
    padding-left: 3px;
}

.md-input-wrap label {
    left: 0;
    position: absolute;
    top: calc(50% + 5px);
    transform: translateY(-50%);
    transition: all 0.15s ease-in-out 0s;
    color: #888888;
}

.md-input-wrap:hover {
    border-bottom: 2px solid blue;
    transition: 0.4s linear;
}

.md-input-wrap::after {
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 0%;
    transition: all 0.15s ease-in-out 0s;
    background-color: #f23d18;  
}

.md-input-wrap::before {
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 50%;
}

input::placeholder {
    color: transparent;
}

input:focus::placeholder {
    color: #888888;
}

.md-input-wrap.md-hastext::after {
    width: 100%;
}

.md-input-wrap .md-input{
    width: 100%;
    border: 0;
    height: 30px;
}

.error-message {
    font-size: 12px;
    font-weight: 500;
    color: #E04562;
    line-height: 2em;
    display: none;
    position: absolute;
}

input:focus {
    outline: none;
}

input:invalid:focus ~ .error-message {
    display: block;
    transform: translateY(0rem);
}

.md-input-flex {
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 2rem;
}

select {
    width: 100%;
    border: 0;
    height: 30px;
    padding-left: 3px;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

.md-input-wrap label.select-label {
    position: absolute;
    top: calc(50% + -20px);
    left: 0%;
    font-size: 13px;
}

select:focus {
    background-color: rgb(250, 227, 227, 0.5);
    outline: none;
    cursor: pointer;
}

.md-input-gender {
   margin-top: 2rem;
}

.gender-label {
    font-size: 13px;
}


#asteric {
    color: #f23d18;
}

button {
    margin-top: 2.3rem;
    padding: 1%;
    background-color: #17A8E3;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.section_3 {
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    padding: 6% 8%;
}

.about-container {
    width: 30%;
}

h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.h2-paragraph {
    font-size: 15px;
    color: #b3b3b3;
    text-wrap: pretty;
}

.image-container {
    width: 40%;
    display: flex;
    gap: 10px;
}

.image-container a i {
    width: 35px;
    height: 35px;
    gap: 1.2rem;
    background-color: #f23d18;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.image-container a i:hover {
    background-color: white;
}

.fa-facebook-f{
    color: white;
    padding-left: 11px;
    font-size: 1.2rem;
}

.fa-twitter {
    color: white;
    padding: 9px;
}

.fa-linkedin-in {
    color: white;
    padding: 10px;
}

.fa-youtube {
    color: white;
    padding: 8px;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-linkedin-in:hover, .fa-youtube:hover {
    color: #f23d18;
}

a .tweets {
    color: #f23d18;
}

.fa-phone {
    color: #f23d18;
    margin-right: 8px;
}

.tel {
    color: #b3b3b3; 
}

.mail {
    color: #b3b3b3;
}

.fa-envelope {
    color: #f23d18;
    margin-right: 8px;
}

footer {
    background-color: black;
    padding: 2%;
    text-align: center;
}

footer p {
    color: white;
    font-size: 14px;
}

.menu-info-container {
    display: none;
}


@media screen and (max-width: 1130px) {
    .info-container {
        width: 30%;
    }
    .sub-text {
        width: 20vw;
    }
}


@media screen and (max-width: 990px) {
    .h1_container {
        left: 31%;
    }
    .h5-container {
        left: 35%;
    }
}

@media screen and (max-width: 855px) {
    .search-icon-container {
        width: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(-50%, 10%);
    }
}

@media screen and (max-width: 790px) {
    .navbar {
        padding-left: 0;
    }
    .info-container, .search-icon-container {
        display: none;
        
    }
    #hamburger1_container {
        display: flex;
    }
    #hamburger2_container {
        width: 5%;
    }
    .h1_container {
        left: 23%;
    }
    .h5-container {
        left: 30%;
    }
    .abt_cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 4%;
        padding-left: 3%;
    }
    .sub-text_2 {
        display: none;
        width: 100%;
    }
    .sb {
        font-size: 0.8rem;
        font-weight: 300;
        border-bottom: 1px solid hsl(0, 0%, 79%);
    }
    #arrowDown, #arrowUp {
        width: 7%;
        display: flex;
    }
    #arrowDown img, #arrowUp img{
        width: 100%;
    }
    #arrowUp {
        display: none;
    }
    .md-input-wrap, .md-input-flex {
        width: 100%;
        flex-direction: column;
        gap: 0;
    }
    button {
        width: 100%;
        padding-block: 2%;
    }
    .section_3 {
        flex-direction: column;
        padding: 6% 2%;
    }
    .about-container {
        width: 100%;
        margin-bottom: 8%
    }
    .twitter-link_container {
        margin-bottom: 8%;
    }
    .menu-info-container {
        display: none;
    }
    .menu-info {
        width: 100%;
        position: absolute;
        top: 6%;
        background: #fff;
        list-style: none;
        line-height: 3rem;
    }
    .mh {
        width: 100%;
        position: relative;
        border-bottom: 1px solid hsl(0, 0%, 79%);
    }
    .mh a, .ml a {
        position: relative;
        left: 3%;
    }
    .ml {
        width: 100%;
        position: relative;
        border-bottom: 1px solid #f23d18;
    }
}

@media screen and (max-width: 600px) {
    .h1_container {
        left: 15%;
    }
    .h5-container {
        left: 22%;
    }
}

@media screen and (max-width: 500px) {
    #hamburger1_container {
        width: 6%;
    }
    #hamburger2_container {
        width: 6%;
    }
    .h1_container {
        left: 15%;
        top: 22%;
        width: 66%;
        text-align: center;
    }
    h1 {
        font-size: 2.5rem; 
    }
    .h5-container {
        left: 22%;
        padding: 17px 35px;
    }
   
}

@media screen and (max-width: 400px) {
    .h5-container {
        left: 17%;
    }
    .menu-info {
        top: 8%;
    }
}

@media screen and (max-width: 330px) {
    .menu-info {
        top: 10%;
    }
    .h5-container {
        left: 12%;
    }
}
